*{
    /* margin: 10px;padding: 10px; */
    box-sizing:  border-box;
   
}

.outer1{
    width: 1000px;
   height: 1000px;
   border: 1px solid red;
   margin: auto;

}

.outer2{
    width: 1000px;
    height: 150px;
    border: 1px solid black;
    display: flex;
}

.outer2 .otr1{
    width: 150px;
    /* border: 1px solid; */
    background-color: aqua;
    height: 150px;
    text-align: center;
}
.outer2 .otr1 p{
    text-align: justify;
    padding: 5px;
}
.outer2 .otr2{
    width: 850px;
    height: 150px;
    background-color: red;
}
.outer3{
    width: 1000px;
    height: 800px;
    display: flex;
}

.outer3 .otr3{
    width: 800px;
    background-color: maroon;
    height: 800px;
    text-align: center;
    font-size: 30px;
}
.outer3 .otr4{
    width: 400px;
    height: 800px;
    background-color: blueviolet;
    text-align: center;
    font-size: 30px;
}

.outer4{
    width: 1000px;
    height: 50px;
    background-color: mediumseagreen;

}
.outer4 .otrf{
    color: wheat;
    font-size: 50px;
    text-align: center;
}