.container{
    border: 2px solid rgb(10, 10, 1);
    height: 500px;
    width: 100%;
    display: flex;
}
.box1{
    height: 500px;
    background-color: aqua;
    width: 50%;
}
.box2{
    background-color: brown;
    height: 500px;
    width: 50%;
}
.box2 .one{
    height: 250px;
    background-color: blue;
}
